.pie-chart {
  width: 50%;
}

.ticker-list {
  display: flex;
  flex-direction: column;
  clear: both;
  line-height: 2;
  font-size: 20px;
}

.actions {
	margin-top: -10px;
	margin-bottom: 35px;
}

.flex {
	align-items: center;
}
