.suggestion:hover {
    background-color: lightgray;
    cursor: pointer;
}

.columnHeadings {
	font-size: 20px;
	font-weight: 600;
}

.symbol-list {
	background: #eaf1f7;
}

.suggestion {
  font-size: 17px;
  width: 125%;
  background: #eaf1f7;
  padding: 7px 8px;
  &:first-child {
  	padding-top: 5px;
  }
   &:last-child {
  	padding-bottom: 5px;
  	margin-bottom: 20px;
  }
  &:hover {
  	background: #003BA2;
  	color: #fff;
  }
}

.alert-danger {
  margin-top: -5px;
  margin-bottom: 15px;
  color: #e80000;
}

.securityTable {
	.flex {
		> div:first-of-type {
			width: 30%;
		}
	}
}

.headingContainer {
	margin-bottom: 10px;
}

.percentSymbol {
	position: absolute;
	left: 0;
	bottom: 38px;
  font-size: 19px;
}

.percentContainer {
	position: relative;
	padding-left: 20px;
	margin-right: 20px;
}

.remove {
	margin-top: 3px;
}

.cash {
	font-size: 22px;
	font-weight: 600;
	margin-top: -20px;
	margin-bottom: 42px;
}
