<h2>Edit Portfolio - {{portfolio?.portfolioName}}</h2>

<p>
    <button mat-flat-button color="warn" (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onSave()" [disabled]="!validAllocation()" >Save</button>
</p>
<div class="alert alert-danger" *ngIf="!validAllocation()">Percentages of all components should not exceed 100%</div>

<table class="table40">
    <tr scope="row">
        <td>Portfolio Name:</td>
        <td>
            <div class="input-group mb-3">
                <input type="text" class="form-control field" [(ngModel)]="portfolio.portfolioName">
            </div>
        </td>
    </tr>

    <tr scope="row">
        <td><b>Components:</b></td>
    </tr>

    <tr scope="row">
        <td>Security</td>
        <td>Percent of Portfolio</td>
    </tr>

    <tr scope="row" *ngFor="let component of portfolio?.components">
        <td>
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="component.symbol" (keyup)="loadSuggestions(component)">
            </div>
            <div *ngFor="let result of component.suggestedSymbols" (click)="setSymbol(component, result.symbol)" class="suggestion">{{result.symbol}} - {{result.description}}</div>
        </td>
        <td style="vertical-align: top;">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">%</span>
                </div>
                <input type="number" min="0" max="100" class="form-control" [(ngModel)]="component.displayPercent" (keyup)="onPercentChange(component)">
            </div>
        </td>
        <td style="vertical-align: top;"><button class="btn btn-danger" (click)="deleteComponent(component)"><span class="fas fa-minus"></span></button></td>
    </tr>
    <button class="btn btn-success" (click)="newComponent()"><span class="fas fa-plus"></span></button>

</table>
<br>