<div class="center">
	<h1><span>Thank you for using our add-on</span>Passiv Lite with Questrade</h1>
  <p class="tagline">Get started by creating a portfolio and using it to generate trade calculations to help you stay on target.</p>
  <h2 class="heading">Are you looking for more automation and functionality? </h2>
  <p class="subP">Get Passiv elite for access to one-click trades, portfolio drift notifications, the ability to manage multiple accounts, and much more.
    <a class="link" href="https://getpassiv.com/" target="_blank">Learn More</a>
  </p>
  <div class="actionContainer">
	 <button class="primary" (click)="register()">Create a Passiv account</button>
	 <button class="secondary" (click)="skip()">Proceed to add-on</button>
  </div>
</div>
