<div class="center">
	<h1><span>Welcome to</span>Passiv Lite</h1>
  <p class="tagline">This add-on lets you create target portfolios and</p>
	<p class="tagline">use them to calculate trades to stay balanced.</p>
	<div class="steps">
		<ol>
			<li>Create a target portfolio made of stocks and ETFs</li>
			<li>Use the filters to select which accounts to include</li>
			<li>Click <strong>Generate Trades</strong> to crunch the numbers</li>
		</ol>
	</div>
  <div class="actionContainer">
	 <button class="primary" (click)="skip()">Get Started</button>
  </div>
</div>
