<h2>Portfolios:</h2>
<p *ngFor="let portfolio of portfolios">
    <button mat-flat-button style="background: #E1E1E1 !important; clear: both;" (click)="viewPortfolio(portfolio)">{{portfolio.portfolioName}}</button>
</p>
<p>
  <button mat-flat-button style="background: #E1E1E1 !important; clear: both;" (click)="onNewPortfolio()"><i class="fas fa-plus"></i> Create Portfolio</button>
</p>
<p>
  <button mat-flat-button style="background: #E1E1E1 !important; clear: both;" (click)="onImportPortfolio()"><i class="fas fa-arrow-alt-circle-down"></i> Import Portfolio From Accounts</button>
</p>
