<div class="appContainer">

	<div class="appHeader">
		<img class="logo" src="assets/logo.svg" alt="passiv logo">
		<div class="cta">
			<p>Are you investing with Questrade? You can unlock more features.</p>
			<a class="btn-primary" href="https://getpassiv.com/" target="_blank" rel="noopener noreferrer">Learn More</a>
		</div>
	</div>

  <app-splash-page (switchView)="onSwitchView($event)" [hidden]="!splashView()"></app-splash-page>

	<app-portfolio-overview (switchPortfolio)="onSwitchPortfolio($event)" (switchView)="onSwitchView($event)" (newPortfolio)="onNewPortfolio($event)" (importPortfolio)="onImportPortfolio($event)" [hidden]="!overviewView()"></app-portfolio-overview>

	<app-edit-portfolio (save)="onPortfolioSave($event)" (cancel)="onEditCancel($event)" (deletePortfolio)="onDeletePortfolio($event)" (switchView)="onSwitchView($event)" [hidden]="!editView()"></app-edit-portfolio>

	<app-portfolio-details (switchView)="onSwitchView($event)" [hidden]="!detailsView()"></app-portfolio-details>

	<app-trades-needed (switchView)="onSwitchView($event)" [hidden]="!tradesView()"></app-trades-needed>

	<div class="appFooter">
		<a href="https://getpassiv.com/" target="_blank" rel="noopener noreferrer">&copy; 2019 Passiv - getpassiv.com</a>
	</div>

</div>
