.logo {
	max-width: 60px;
}

.appFooter {
	padding-top: 20px;
  margin-top: 40px;
  margin-right: -32px;
  margin-left: -32px;
	background: #2A2D34;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	padding-bottom: 20px;
	border-radius: 0 0 4px 4px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	a {
		color: #fff;
		text-decoration: none;
	}
}

.appHeader {
	padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #dadada;
  margin-right: -32px;
  margin-left: -32px;
  padding-left: 18px;
}
