<h2>Trades - {{portfolio?.portfolioName}}</h2>
<p>
    <button mat-flat-button style="background: #E1E1E1 !important" (click)="portfolioDetails()">Done</button>
</p>

<div style="font-size: 18px;" *ngIf="cashCAD > 0">Cash in account (CAD): ${{cashCAD.toFixed(2)}}</div>
<div style="font-size: 18px;" *ngIf="cashUSD > 0">Cash in account (USD): ${{cashUSD.toFixed(2)}}</div>
<div style="font-size: 18px;" *ngIf="!loading && cashUSD + cashCAD === 0">No cash in your account(s)</div>


<!-- <span style="font-size: 18px;">Or specify amount here:&nbsp;</span>
<div style="width:140px;" class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">CAD $</span>
    </div>
    <input type="number" min="0" max="100" class="form-control" [(ngModel)]="specificCashCAD">
</div>
<div style="width:140px;" class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">USD $</span>
    </div>
    <input type="number" min="0" max="100" class="form-control" [(ngModel)]="specificCashUSD">
</div> -->

<mat-checkbox [(ngModel)]="buyOnly">Buy only</mat-checkbox><br>

<button mat-flat-button color="primary" (click)="refreshTradesNeeded()" style="float: left;">Refresh trades</button>
<mat-spinner [diameter]="40" style="float: left;" *ngIf="loading"></mat-spinner>
<br>
<p></p>
<div [hidden]="!areSellActions">
    <h4 style="clear: both;">Sell:</h4>
    <ul style="list-style: none;">
        <li *ngFor="let component of portfolio?.components">
            <span *ngIf="component?.isSellAction()">{{component?.adjustmentUnits}} shares of {{component?.symbol}}</span>
        </li>
    </ul>
</div>

<div [hidden]="!areBuyActions">
    <h4>Buy:</h4>
    <ul style="list-style: none;">
        <li *ngFor="let component of portfolio?.components">
            <span *ngIf="component?.isBuyAction()">{{component?.adjustmentUnits}} shares of {{component?.symbol}}</span>
        </li>
    </ul>
</div>

<div>

<p [hidden]="areBuyActions || areSellActions || loading">
    No trades are suggested with the current configuration
</p>

<table *ngIf="!loading" class="table table-striped table-sm" style="width: 60%">
    <thead class="thead-light">
        <tr>
            <th>Symbol</th>
            <th>Current Price</th>
            <th># of Shares Owned</th>
            <th>Adjustment of shares</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let component of portfolio?.components" scope="row">
            <td>{{component?.symbol}}</td>
            <td>${{component?.getPrice()}}</td>
            <td>{{component?.sharesOwned}}</td>
            <td>
                <span *ngIf="component.isBuyAction()">+</span>
                <span *ngIf="component.isSellAction()">-</span>
                {{component?.adjustmentUnits}}
            </td>
        </tr>
    </tbody>
</table>
<br>